
                <div class="c-gallery" id="gallery">
                    <div class="o-box o-box--corners">
                        <div class="o-box__inside">
                            <div class="c-gallery__big">                               
                                <img src=<%= require("./img/photos/gallery/01-big.jpg") %> alt="" class="js-big">
                            </div>
                            
                            <div class="c-gallery__thumbs">
                                <a href=<%= require("./img/photos/gallery/01-big.jpg") %> class="item js-thumb is-active">
                                    <img src=<%= require("./img/photos/gallery/01-thumb.jpg") %> alt="">
                                </a>
                                
                                <a href=<%= require("./img/photos/gallery/02-big.jpg") %> class="item js-thumb">
                                    <img src=<%= require("./img/photos/gallery/02-thumb.jpg") %> alt="">
                                </a>
                                
                                <a href=<%= require("./img/photos/gallery/03-big.jpg") %> class="item js-thumb">
                                    <img src=<%= require("./img/photos/gallery/03-thumb.jpg") %> alt="">
                                </a>
                            </div>

                            
                        </div>                        
                    </div>
                </div>
